.accordian .accordian-header {
    position: relative;
    padding: 15px 0 !important;
}
.accordian .accordian-header i.rango-arrow {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 0;
}