/docker-compose-collection
/bin
/node_modules
/**/node_modules
/public/hot
/public/storage
!/public/css
/public/css/*
!/public/css/custom.css
!/public/css/gun.css
!/public/css/shop.css
!/public/css/custom-velocity.css
!/public/css/onboarding.css
!/public/js/onboarding.js
/public/vendor
/public/themes
!/public/themes/bliss
/resources/themes
!/resources/themes/pagebuilder/devvly
/docker-compose-collection/
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
/ignorables/*
yarn.lock
package-lock.json
.php_cs.cache
storage/
storage/*.key
.DS_Store
/.docksal
/*.sql
.phpstorm.meta.php
_ide_helper.php
resources/views/vendor
resources/views/errors
