.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .quantity
    button:hover,
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.btn:hover,
.account-content .account-layout .bottom-toolbar .pagination .page-item:hover,
.btn-add-to-cart:hover,
.cart-details .continue-shopping-btn:hover,
.quantity
    .account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button:hover {
    border-color: $primary !important;
    background-color: $primary !important;
}
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .quantity
    button,
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.btn,
.account-content .account-layout .bottom-toolbar .pagination .page-item,
.cart-details .continue-shopping-btn,
.quantity
    .account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button {
    background-color: $primary !important;
}
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .bottom-toolbar
    .pagination
    .quantity
    button.page-item,
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .bottom-toolbar
    .pagination
    button.btn.page-item,
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .quantity
    button.light,
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.light.btn,
.account-content
    .account-layout
    .bottom-toolbar
    .pagination
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.btn.page-item,
.account-content .account-layout .bottom-toolbar .pagination .page-item,
.account-content
    .account-layout
    .bottom-toolbar
    .pagination
    .quantity
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.page-item,
.cart-details .light.continue-shopping-btn,
.quantity
    .account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .bottom-toolbar
    .pagination
    button.page-item,
.quantity
    .account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.light,
.quantity
    .account-content
    .account-layout
    .bottom-toolbar
    .pagination
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.page-item {
    color: #666666;
}
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .bottom-toolbar
    .pagination
    .quantity
    button.page-item,
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .bottom-toolbar
    .pagination
    button.btn.page-item,
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .quantity
    button.light,
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.light.btn,
.account-content
    .account-layout
    .bottom-toolbar
    .pagination
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.btn.page-item,
.account-content .account-layout .bottom-toolbar .pagination .page-item,
.account-content
    .account-layout
    .bottom-toolbar
    .pagination
    .quantity
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.page-item,
.cart-details .light.continue-shopping-btn,
.quantity
    .account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .bottom-toolbar
    .pagination
    button.page-item,
.quantity
    .account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.light,
.quantity
    .account-content
    .account-layout
    .bottom-toolbar
    .pagination
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.page-item {
    color: #666666;
}
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .bottom-toolbar
    .pagination
    .quantity
    button.page-item,
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .bottom-toolbar
    .pagination
    button.btn.page-item,
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .quantity
    button.light,
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.light.btn,
.account-content
    .account-layout
    .bottom-toolbar
    .pagination
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.btn.page-item,
.account-content .account-layout .bottom-toolbar .pagination .page-item,
.account-content
    .account-layout
    .bottom-toolbar
    .pagination
    .quantity
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.page-item,
.cart-details .light.continue-shopping-btn,
.quantity
    .account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .bottom-toolbar
    .pagination
    button.page-item,
.quantity
    .account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.light,
.quantity
    .account-content
    .account-layout
    .bottom-toolbar
    .pagination
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.page-item {
    border: 2px solid $primary;
    color: #333333 !important;
    font-size: 16px;
    font-weight: bold;
}

.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    .quantity
    button,
.account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button.btn,
.account-content .account-layout .bottom-toolbar .pagination .page-item,
.cart-details .continue-shopping-btn,
.quantity
    .account-content
    .account-layout
    .account-table-content
    #datagrid-filters
    .dropdown-filters
    .dropdown-container
    button {
    padding: 8px 20px;
    font-size: 16px;
}