.main-content-wrapper {
    font-size: initial;
    width: 100%;
}

body {
    font-family: "Open Sans";
    font-weight: 500;
}

.review-page-container {
    padding: 70px 0;
}

a {
    color: $info-dark;
    &:hover {
        color: $info;
    }
}