.messaging {
    &__search {
        display: flex;
        align-items: center;
        .btn {
            margin: 0 !important;
            height: 44px;
            border-radius: 0 0.25rem 0.25rem 0;
            border-width: 1px;
            border-left: none;
            border-color: $color-gray-light;
        }
        .form-control {
            border-radius: 0.25rem 0 0 0.25rem;
        }
    }
    &__wrapper {
        border-top: 1px solid $color-gray-light;
        height: 100%;
        & + .row {
            height: 100%;
        }
    }
    &__menu {
        padding-top: 1rem;
        border-right: 1px solid $color-gray-light;
        padding-right: 1rem;
        height: 100%;
        @include media-breakpoint-down(md) {
            border-right: none;
            padding-right: 0;
            padding-bottom: 1rem;
            border-bottom: 1px solid $color-gray-light;
        }
        .btn-group-vertical {
            width: 100%;
        }
        ul {
            padding-left: 0;
            list-style: none;
        }
        &-item {
            padding: 0.25rem 1rem;
            border-bottom-right-radius: 100px !important;
            border-bottom-left-radius: 100px !important;
            border-top-left-radius: 100px !important;
            border-top-right-radius: 100px !important;
            margin-bottom: 0.25rem !important;
            margin-top: 0 !important;
            display: flex;
            justify-content: space-between;
            font-weight: normal;
            color: $color-gray-dark;
            &:hover {
                background: rgba($color-gray-lighter, 0.5);
                color: $color-black;
                text-decoration: none;
            }
            &.focus {
                text-decoration: none;
            }
            &.active {
                background: $color-gray-lighter;
                font-weight: bold;
                color: $color-info;
            }
            &.has-unread {
                font-weight: bold;
            }
            &-title {
                margin-right: 1.5rem;
            }
        }
    }
    &__actions {
        padding: 0.25rem 1rem;
        border-bottom: 1px solid $color-gray-light;
        @include media-breakpoint-down(sm) {
            padding: 0.25rem 0;
        }
        .custom-checkbox {
            display: inline-block;
            vertical-align: middle;
        }
        .btn-link {
            color: $color-gray-dark;
            display: inline-block;
            vertical-align: middle;
            &:hover {
                color: $color-black;
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
            }
        }
    }
    &__list {
        padding: 0 1rem;
        max-height: 100%;
        overflow-y: auto;
        @include media-breakpoint-down(md) {
            padding: 0;
        }
        &-item {
            padding: 1rem 0;
            border-bottom: 1px solid $color-gray-light;
            p {
                margin-bottom: 0;
            }
            &-image {
                border-radius: 100px;
                height: 50px;
                width: 50px;
                object-fit: cover;
            }
            &-name {
            }
            &-name.bold {
                font-weight: bold;
            }
            &-text {
            }
            &-text.bold {
                font-weight: bold;
            }
            &-time-mobile {
                font-size: 0.75rem;
                color: $color-gray;
            }
        }
    }
    &__nav-notification {
        position: relative;
        &-dot {
            height: 8px;
            width: 8px;
            background: $color-danger;
            border-radius: 100px;
            position: absolute;
            left: calc(100% - 5px);
            top: -3px;
        }
    }
    &__dropdown-notification {
        position: relative;
        &-dot {
            background: $color-danger;
            border-radius: 100px;
            position: absolute;
            left: calc(100% - 5px);
            top: -8px;
            font-size: 0.6rem;
            font-family: $font-objective;
            font-weight: bold;
            color: $color-white;
            min-width: 18px;
            height: 18px;
            padding: 0 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
    &__loading {

          
    }
}

.messaging-thread {
    p {
        margin-bottom: 0;
    }
    &__subject {
        padding: 0.5rem 1rem;
        border-right: 1px solid $color-gray-light;
        @include media-breakpoint-down(md) {
            border-right: none;
            padding: 1rem 0;
            margin: 1rem 0 0;
            border-top: 1px solid $color-gray-light;
            border-bottom: 1px solid $color-gray-light;
        }
        p {
            font-weight: bold;
        }
    }
    &__chat {
        height: 100%;
        min-height: 300px;
        position: relative;
        border-right: 1px solid $color-gray-light;
        &-body {
            overflow-y: auto;
            width: 100%;
            max-height: 300px;
            min-height: 100px;
            margin-bottom: -1rem;
            padding: 1rem;
        }
        &-field {
            padding: 1rem;
            box-shadow: $box-shadow;
            background: $color-white;
            position: relative;
            &-container {
                overflow: hidden;
                width: 100%;
                padding-top: 1rem;
            }
            textarea {
                min-height: 90px;
            }
            &-actions {
                position: absolute;
                right: 1.25rem;
                top: 1.25rem;
                a {
                    display: block;
                    padding: 0.25rem;
                    line-height: 0;
                }
            }
            &-send {
                text-align: right;
                padding-top: 0.5rem;
            }
            &-uploaded {
                display: inline-block;
                .badge {
                    padding: 0.25rem 0.5rem;
                    margin: 0 0.25rem 0.25rem 0;
                    font-size: 0.75rem;
                }
                p {
                    display: inline-block;
                }
                a {
                    margin-left: 0.5rem;
                }
            }
        }
        &-message {
            margin-bottom: 0.75rem;
            width: 100%;
            &--in {
                padding-right: 30%;
                flex-direction: row;
                float: left;
                .messaging-thread__chat-message-customer {
                    margin-right: 0.5rem;
                }
                .messaging-thread__chat-message-text {
                    float: left;
                }
            }
            &--out {
                padding-left: 30%;
                flex-direction: row-reverse;
                .messaging-thread__chat-message-text {
                    background: $color-white;
                    border: 1px solid $color-gray-light;
                    float: right;
                }
                .messaging-thread__chat-message-customer {
                    display: none;
                }
            }
            &-customer {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 100px;
            }
            &-text {
                width: auto;
                background: $color-gray-lighter;
                padding: 0.75rem;
                border-radius: 0.25rem;
            }
            &-image {
                width: 100%;
                max-width: 280px;
                max-height: 180px;
                object-fit: cover;
            }
        }
        &-date-separator {
            text-align: center;
            font-size: $font-sm;
            font-weight: bold;
            padding: 0.5rem 0;
        }
    }
    &__sender {
        padding: 2rem 0 0 1rem;
        @include media-breakpoint-down(md) {
            padding: 1rem 0 0;
        }
        &-name {
            font-weight: bold;
            display: block;
        }
        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            margin-bottom: 0.5rem;
            border-radius: 100px;
            @include media-breakpoint-down(md) {
                margin-bottom: 0;
                width: 40px;
                height: 40px;
            }
        }
    }
}


.loading-spinner {
    .loader {
        position: relative;
        margin: 0 auto;
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
      }
      
      .circular {
        animation: rotate 1.2s linear infinite;
        height: 100%;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      
      .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke: $color-info;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
        &.color {
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        }
      }
      
      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }
      
      @keyframes dash {
        0% {
          stroke-dasharray: 1, 200;
          stroke-dashoffset: 0;
        }
        50% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -35px;
        }
        100% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -124px;
        }
      }
      
      @keyframes color {
        100%,
        0% {
          stroke: $color-info;
        }
        40% {
          stroke: $color-info;
        }
        66% {
          stroke: $color-info;
        }
        80%,
        90% {
          stroke: $color-info;
        }
      }
}