.shows {

  // list content
  &-list {
    padding-top: 30px;
    padding-bottom: 45px;

    @media only screen and (min-width: 992px) {
      padding-top: 90px;
      padding-bottom: 114px;
    }

    // modification of the block
    &--more {
      background-color: $color-gray-lighter;

      @media only screen and (min-width: 992px) {
        padding-top: 87px;
        padding-bottom: 98px;
      }

      .shows-list__head {
        margin-bottom: 30px;

        @media only screen and (min-width: 992px) {
          margin-bottom: 45px;
        }
      }
    }

    &--promoter {
      padding-bottom: 0;

      @media only screen and (min-width: 992px) {
        padding-top: 50px;
      }
    }

    &__head {
      margin-bottom: 30px;

      h3 {
        margin: 0;
      }
    }

    &__filter {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      .form-group {
        width: 100%;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }

      .form-group {
        @media only screen and (min-width: 992px) {
          max-width: 198px;
        }

        &.wide {
          @media only screen and (min-width: 992px) {
            max-width: 295px
          }
        }

        &.small {
          @media only screen and (min-width: 992px) {
            max-width: 157px
          }
        }
      }

      .info {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        font-weight: 700;
        line-height: 44px;
        white-space: nowrap;

        i {
          margin-right: 8px;
          font-size: 1.5rem;
          color: $color-info;
        }
      }
    }

    &__item {
      margin-bottom: 15px;
      @include media-breakpoint-up(md) {
        margin-bottom: 30px;
      }
      &-cancelled-label {
        color: $color-gray-darker;
        margin-left: 8px;
        display: none;
      }
      &--cancelled {
        .shows-list__item-cancelled-label {
          display: inline-block;
        }
        p, h3 {
          color: $color-gray;
        }
        .shows-list__item-date {
          color: $color-gray;
          text-decoration: line-through;
        }
      }
      &-date {
        color: $color-gray;
      }
    }

    &__show-more {
      i {
        margin-right: 8px;
        font-size: 24px;
      }
    }
  }

  // details content
  &-detail {
    padding-top: 30px;
    padding-bottom: 30px;

    @media only screen and (min-width: 992px) {
      padding-top: 70px;
      padding-bottom: 83px;
    }

    h5 {
      margin-bottom: 5px;
      font-weight: 700;
    }
    label {
      font-weight: bold;
    }
    p {
      margin-bottom: 8px;
    }

    &__info {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      border: 2px solid $color-danger;
      border-radius: $border-radius;
      padding: 20px;

      @media only screen and (min-width: 992px) {
        margin-bottom: 45px;
      }

      i {
        margin-right: 20px;
        font-size: 1.5rem;
        color: $color-danger;
      }

      p {
        margin-bottom: 0;
        font-weight: 700;
      }
    }

    &__description {
      margin-bottom: 25px;
      border-bottom: 1px solid $color-gray-light;
      padding-bottom: 6px;

      @media only screen and (min-width: 992px) {
        margin-bottom: 45px;
      }

      p {
        margin: 0;
      }

      &-item {
        position: relative;
        padding-left: 51px;
        margin-bottom: 20px;

        i {
          position: absolute;
          top: 0;
          left: 15px;
          font-size: 1.5rem;
        }
      }
    }

    &__map {
      margin-top: 30px;
      margin-bottom: 30px;

      @media only screen and (min-width: 992px) {
        margin-top: 45px;
        margin-bottom: 45px;
      }

      img,
      iframe {
        width: 100%;
      }
    }
  }
}
