.subscribe-section {
  padding: 32px 0 31px;
  background-color: $color-gray-dark;
  color: $color-white;

  .row {
    align-items: center;
  }

  h4 {
    margin-bottom: 25px;
    text-align: center;

    @media only screen and (min-width: 992px) {
      margin-bottom: 0;
      text-align: left;
    }
  }

  .social {
    margin-top: 30px;
    
    @media only screen and (min-width: 1200px) {
      margin: 0;
    }
  }
}
