@import "icons";
@import "variables";

.navbar-left {
    width: 100px;

    ul.menubar li.menu-item {
        padding: 10px 7px;
    }
}

.content-container {
    padding-left: 100px;
}

.product-price {
    span {
        font-size: 20px;
    }

    .regular-price {
        color: $font-light;
        text-decoration: line-through;
        margin-right: 10px;
    }

    .special-price {
        color: $disc-price;
    }
}